{% extends 'base.html.twig' %}

{% block title %} Liste des étudiants {% endblock %}
{% block style %}
<style>
    .tags{
        background-color: rgb(200, 218, 252) !important;
    }

    .edit{
        color:mediumseagreen ;
        text-decoration: underline;
    }
    .delete:hover{
        color: rgb(245, 151, 151);
        text-decoration: underline;
    }
    .edit:hover{
        color: rgb(184, 224, 3);
        text-decoration: underline;
    }
    .delete{
        color: rgb(255, 0, 0);
        text-decoration: underline;
    }

</style>
{% endblock %}

{% block body %}


<div class="example-wrapper">
    
    <h1>Liste des étudiants ✅</h1>
    <a href="#"> ajouter un étudiant </a>
</div>
<br><br><br>

<table class="highlight striped" >
    <tr class="tags">
        <td>FirstName</td>
        <td>Name</td>
        <td>Section</td>
        <td>Action</td>
    </tr>
    {% for etudiant in etudiants %}
    <tr>
        <td>{{ etudiant.nom}}</td>
        <td>{{ etudiant.prenom}}</td>
        <td>{{ etudiant.section.designation}}</td>
        <td>
            <a class="edit" href="">Edit</a>
            <br>
            <a class="delete" href="">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
